aiogram==2.25.1
apify==1.1.5
beautifulsoup4==4.11.2
colorama==0.4.6
pytest==7.4.2
requests==2.31.0
feedparser~=6.0.10
validators~=0.22.0
asyncpg~=0.29.0
SQLAlchemy~=2.0.23
pytube~=15.0.0
APScheduler @ git+https://github.com/agronholm/apscheduler.git
